<?xml version="1.0"?>
<!--
/**
 * Copyright © TransparentCDN, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <event name="backend_auth_user_login_success">
        <observer name="transparentcdn_login_success_observer"
                  instance="TransparentCDN\TransparentEdge\Observer\AdminLoginSucceeded"/>
    </event>
    <event name="controller_action_predispatch_adminhtml_auth_logout">
        <observer name="transparentcdn_logout_success_observer"
                  instance="TransparentCDN\TransparentEdge\Observer\AdminLogoutObserver"/>
    </event>
</config>
